@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Righteous&display=swap');

/* 根變數設置，用於定義全局顏色和字體 */
:root {
  --c-nav-10: rgb(104, 26, 126, 1.0); /* 導航欄主色 */
  --c-nav-05: rgba(208, 55, 250, 0.5); /* 導航欄輔助色 */
  --c-nav-00: rgba(208, 55, 250, 0.2); /* 導航欄背景色 */
  --c-assist1-10: rgb(129, 16, 160); /* 輔助顏色1 */
  --c-assist1-10: rgba(129, 16, 160, 0.5); /* 輔助顏色1 半透明 */
  --c-assist2-10: rgb(173, 99, 196, 0.8); /* 輔助顏色2 */
  --c-assist2-03: rgb(147, 99, 161, 0.5); /* 輔助顏色2 半透明 */
  --c-assist2-01: rgba(206, 124, 231, 0.1); /* 輔助顏色2 淡色 */
  --c-assist2-00: rgba(177, 95, 202, 0.05); /* 輔助顏色2 更淡色 */
  --c-assist3-10: hwb(295 4% 56%); /* 輔助顏色3 */
  --c-point: rgb(247, 49, 108); /* 強調顏色 */
  --f-family-1: "Righteous", "Noto Sans TC", sans-serif; /* 字體家族 */
}

/* 全局字體大小 */
html {
  font-size: 22px;
}

/* 全局樣式設置 */
body {
  background-color: rgba(245, 160, 168, 0.822); /* 背景顏色 */
  font-family: var(--f-family-1); /* 字體家族 */
  margin: 0; /* 取消默認外邊距 */
  padding: 0; /* 取消默認內邊距 */
  color: #333; /* 文字顏色 */
}

/*=======================共用內容區域=======================================*/

/* 登入表單區域 */
.container {
  margin-top: 5px; /* 調整表單區域上邊距 */
}

/* 卡片樣式 */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影 */
  border-radius: 10px; /* 調整邊框圓角 */
}

/* 卡片標題樣式 */
.card-header {
  background-color: rgb(150, 90, 56); /* 背景色 */
  color: #ffffff; /* 字體顏色 */
  border-top-left-radius: 10px; /* 調整左上邊框圓角 */
  border-top-right-radius: 10px; /* 調整右上邊框圓角 */
}

/*=======================以上為表單整體固定數據=======================================*/

/* 標題文字樣式 */
.card-header h3 {
  margin: 0; /* 取消外邊距 */
}

/* 表單標籤樣式 */
.form-label {
  font-weight: bold; /* 調整字體加粗 */
  color: #333; /* 字體顏色 */
}

/* 表單輸入框樣式 */
.form-control {
  border-radius: 5px; /* 調整邊框圓角 */
  padding: 10px; /* 調整內邊距 */
  margin-bottom: 20px; /* 調整底部間距 */
}



/*=======================以上為表單標題固定數據=======================================*/

/* 登入按鈕樣式 */
.btn-primary {
  background-color: rgb(150, 90, 56); /* 按鈕背景色 */
  color: #ffffff;
  border: none; /* 取消邊框 */
  padding: 5px 8px; /* 調整內邊距 */
  border-radius: 5px; /* 調整邊框圓角 */
  font-size: 1.2em; /* 調整字體大小 */
  transition: background-color 0.3s; /* 添加過渡效果 */
}


.btn-primary:hover {
  background-color: #ffffff; /* 懸停時按鈕背景色 */
  color: #000000; /* 懸停時按鈕文字顏色 */
  border: 2px solid rgb(150, 90, 56); /* 懸停時按鈕邊框顏色 */
}

/* 註冊按鈕樣式 */
.btn-primary1 {
  background-color: rgb(150, 90, 56); /* 按鈕背景色 */
  color: #ffffff;
  border: none; /* 取消邊框 */
  padding: 5px 8px; /* 調整內邊距 */
  border-radius: 5px; /* 調整邊框圓角 */
  font-size: 1.2em; /* 調整字體大小 */
  transition: background-color 0.3s; /* 添加過渡效果 */
}

.btn-primary1:hover {
  background-color: #ffffff; /* 懸停時按鈕背景色 */
  color: #000000; /* 懸停時按鈕文字顏色 */
  border: 2px solid rgb(150, 90, 56); /* 懸停時按鈕邊框顏色 */
}

.btn-secondary {
  background-color: rgb(150, 90, 56); /* 上一頁按鈕背景色 */
  color: #ffffff; /* 按鈕文字顏色 */
  border: none; /* 取消邊框 */
}

.btn-secondary:hover {
  background-color: #ffffff; /* 懸停時按鈕背景色 */
  color: #000000; /* 懸停時按鈕文字顏色 */
  border: 2px solid rgb(150, 90, 56); /* 懸停時按鈕邊框顏色 */
}

/*驗證碼輸入框樣式*/
.captcha-input {
  width: 100px; /* 驗證碼輸入框的寬度 */
}

.captcha-image {
   height: 60px; /* 驗證碼圖片的高度 */
}

.captcha-refresh {
   height: 35px; /* 更換驗證碼圖片的高度 */
   cursor: pointer;
   margin-left: 10px;
}


/*=======================以上為按紐固定數據=======================================*/

/* 底部版權信息樣式 */
footer {
  text-align: center; /* 文字居中 */
  margin-top: 50px; /* 調整頂部間距 */
  font-size: 0.9em; /* 調整字體大小 */
  color: #000000; /* 字體顏色 */
}

/* 验证码图片样式 */
#captcha-canvas {
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer; /* 鼠标悬停时显示为指针 */
}


@media (max-width: 768px) {

  
/* 登入表單區域 */
.container {
  margin-top: -15px; /* 調整表單區域上邊距 */
}

  /* 底部版權信息樣式 */
footer {
  text-align: center; /* 文字居中 */
  margin-top: 50px; /* 調整頂部間距 */
  font-size: 0.8em; /* 調整字體大小 */
  
}
}